// Place all the styles related to the List controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color:red;
}
.top{
    background-color:blue;
    width:cover;
    text-align:center;
    top:2px;
    font-size:50px;
}
.add{
    display:inline;
    background-color:#33ff33;
    border-radius:4px;
    opacity:.7;
    transition:.4s;
    font-size:30px;
}
.add:hover{
    background-color:white;
    opacity:1;
}
.one{
    background-color:gray;
}
.two{
    background-color:yellow;
}
