<!--
<h1>List#index</h1>
<p>Find me in app/views/list/index.html.erb</p>
-->
<h1 class="top">My To-do Lists</h1>
<a class="add" href="#">Add to-do</a>

<ul>
  <div class="one">
  <h2>Homework</h2>
    <% @items.each do |item| %>
    <li><%= item %></li>
    <% end %>
  <li>
    <input type="checkbox"></input>
    <span>Complete all missed assignments - Physics</span> <a href="/list/p_plus">+</a>
    <strong><%= 1 + 1 %> pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Study rehtoric section for quiz - Communications</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Complete lab assignment #4 - AP Computer Science</span>
    <strong>3 pomodoros</strong>
  </li>
  </div>
</ul>

<ul>
  <div class="two">
  <h2>Chores</h2>
  <li>
    <input type="checkbox"></input>
    <span>Laundry</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Vaccum room</span>
    <strong>1 pomodoro</strong>
  </li>
  </div>
</ul>
